.card-display__container {
  width: 100%;
}

.card-display__list {
  font-family: 'Kalam', cursive;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  color: #FFFFFF;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
}

.card-display__list-item {
  transition: background-color 0.3s ease-in-out;
  max-width: 300px;
  list-style: none;
  margin: 15px;
}

.card-display__list-item:hover {
  transform: scale(1.05);
}

@media(min-width: 768px) {
  .card-display__list {
    justify-content: start;
  }
}
